body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: lightgreen;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

input, select {
    padding: 10px;
    border: red dashed 2px;
    border-radius: 7px;
    background-color: lightgreen;
    color: red;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    border: red dashed 2px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
    background-color: lightgreen;
    color: red;
}

.result {
    margin-top: 10px;
    padding: 10px;
    width: 80%;
    text-align: left;
    border: red dashed 2px;
    border-radius: 7px;
    height: calc(2 * (1.2em + 10px));
    overflow-y: auto;
    background-color: lightgreen;
    color: red;
}

.result-item {
    padding: 5px 0;
}

.old-result {
    color: coral;
}